.buttons {
  display: inline-block;
  width: 100%;
  max-width: 300px;
}

.buttons-style {
  margin-bottom: 15px;
  width: 100%;
  padding: 15px;

  border: 3px solid rgba(40, 54, 69, 0.3);
  border-radius: 50px;
  background-color: transparent;

  color: rgba(40, 54, 69, 0.3);
  font-weight: bold;

  &:hover {
    border-color: rgba(40, 54, 69, 0.6);
    color: rgba(40, 54, 69, 0.6);
  }

  &:active {
    border-color: #d22856;
    color: #d22856;
  }
}

.buttons__submit {
  border-color: #d22856;
  color: #d22856;

  &:hover {
    background-color: #d22856;
    border-color: #ffffff;

    color: #ffffff;
  }

  &:active {
    opacity: 0.4;
  }
}

.buttons__cancel {
  &:hover {
    border-color: #d22856;
    color: #d22856;
  }

  &:active {
    background-color: #d22856;
    border-color: #ffffff;

    color: #ffffff;
    opacity: 0.4;
  }
}

@media (min-width: 500px) {
  .buttons {
    display: flex;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    justify-content: space-evenly;
  }

  .buttons-style {
    width: 30%;
    max-width: 200px;
  }
}
