.buttons {
  display: inline-block;
  max-width: 300px;
}

.buttons-style {
  display: block;
  margin-bottom: 15px;
  width: 200px;
  padding: 15px;

  border: 2px solid rgba(40, 54, 69, 0.3);
  border-radius: 50px;
  background-color: transparent;

  color: rgba(40, 54, 69, 0.3);
  font-weight: bold;

  &:hover {
    border-color: rgba(40, 54, 69, 0.6);
    color: rgba(40, 54, 69, 0.6);
  }

  &:active {
    border-color: #d22856;
    color: #d22856;
  };
}

@media (min-width: 768px) and (max-width: 1199px) {
  .buttons {
    display: inline-block;
    padding: 95px 20px 20px 20px;
  }

  .buttons-style:first-of-type {
    margin-bottom: 55px;
  }
}
