.comment {
  background-color: #f2f2f2;
}

.comment__name {
  font-weight: bold;
}

.comment__time {
  text-transform: uppercase;
  font-weight: lighter;
}

.comment__text {
  font-size: 18px;
  line-height: 30px;
}

.comment__likes-text {
  font-size: 12px;
  line-height: 24px;
  color: #d22856;
  text-transform: uppercase;
}

.comment__likes-count {
  font-size: 12px;
  line-height: 24px;
  color: #d22856;
  text-transform: uppercase;
}

