.comment {
  padding: 20px;
}

.comment__name {
  font-weight: bold;
}

.comment__time {
  text-transform: uppercase;
  font-weight: lighter;
}

.comment__text {
  font-size: 18px;
  line-height: 30px;
}

.comment__likes-text {
  position: relative;
  padding-left: 25px;

  font-size: 12px;
  line-height: 24px;
  color: #d22856;
  text-transform: uppercase;

  &::before {
    content: "";
    position: absolute;
    width: 13px;
    height: 13px;
    left: 0;
    top: 1px;

    background-image: url("/img/icon-heart.svg");
    background-repeat: no-repeat;
  }
}

.comment__likes-text:active {
  &::before {
    width: 14px;
    height: 14px;

    background-color: #d22856;
  }
}

.comment__likes-count {
  font-size: 12px;
  line-height: 24px;
  color: #d22856;
  text-transform: uppercase;
}

