.comment {
  padding: 20px;

  background-color: #f2f2f2;
}

.comment__name {
  font-weight: bold;
  font-size: 14px;
}

.comment__time {
  text-transform: uppercase;
  font-weight: lighter;
  font-size: 14px;
}

.comment__text {
  font-size: 14px;
  line-height: 30px;
}

.comment__likes-text {
  position: relative;
  padding-left: 25px;

  font-size: 12px;
  line-height: 24px;
  color: #d22856;
  text-transform: uppercase;

  &::before {
    content: "";
    position: absolute;
    width: 13px;
    height: 13px;
    left: 0;
    top: 1px;

    background-image: url("/img/icon-heart.svg");
    background-repeat: no-repeat;
  }
}

.comment__likes-text:active {
  &::before {
    width: 14px;
    height: 14px;

    background-color: #d22856;
  }
}

.comment__likes-count {
  font-size: 12px;
  line-height: 24px;
  color: #d22856;
  text-transform: uppercase;
}

@media (min-width: 600px) {
  .comment__text,
  .comment__time,
  .comment__name {
    font-size: 18px;
  }
}

@media (min-width: 768px) {
  .comment__likes-text {
    font-size: 12px;
    line-height: 24px;
  }
}

