.contact {
  padding-bottom: 25px;
}

.contact__description {
  font-size: 18px;
  line-height: 21px;
}

.contact__info {
  display: block;

  color: #d22856;
  font-size: 24px;
}

@media (min-width: 768px) and (max-width: 1199px) {
  .contact {
    padding: 25px;
  }
}
