@import "../mixin";

.download {
  position: relative;
  margin: 0;

  &::before {
    content: "";

    z-index: 1;
    position: absolute;
    top: -127%;
    width: 228px;
    height: 295px;

    background-image: url("/img/iphone-hand-mobile@1x.png");
    background-size: 100%;
    background-repeat: no-repeat;
  }
}

.download__button {
  padding: 10px 15px 12px 15px;
  margin-bottom: 30px;

  background-color: inherit;
  border: 3px solid #ffffff;
  border-radius: 30px;

  color: #ffffff;
  font-size: 20px;
  font-weight: bold;

  &:hover {
    background-color: #ffffff;

    color: #d22856;
  }

  &:active {
    opacity: 0.6;
  };
}

.download__link {
  padding: 0 10px;

  text-decoration: none;
}

.download__link-item {
  max-height: 60px;
}

.download__description {
  padding: 0 20px;

  color: #ffffff;
  font-size: 15px;
  line-height: 25px;
}

.download__text {
  display: none;
}

@media (min-width: 525px) and (max-width: 767px) {
  .download__description {
    padding: 0 60px;
  }
}

@media (min-width: 627px) and (max-width: 767px) {
  .download:before {
    top: -282px;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .download {
    display: flex;
    flex-direction: column;
    padding: 0;

    &:before {
      top: 3%;
      left: 16%;
      width: 638px;
      height: 497px;

      background-image: url(/img/iphone-hand-tablet@1x.png);
    }
  }

  .download__text {
    display: inline-block;
    margin: 0;
    padding: 58px 93px;

    color: white;
    font-size: 40px;
    line-height: 48px;
  }

  .download__button {
    max-width: 245px;
    margin: 0 auto 15px auto;
  }

  .download__links,
  .download__button,
  .download__description {
    z-index: 10;
  }
}
