.effects {
  display: flex;
  flex-wrap: wrap;
  padding: 20px 0;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  border: none;
}

.effects__list {
  width: 100%;
  margin: 0 auto;
  border: none;
}

.effects__item {
  display: inline-block;
  width: 30%;
  height: 40px;
}

.effects__label {
  opacity: 0.6;
  filter: grayscale(0);

  &:before {
    content: "";
    position: absolute;
    display: block;
    width: 60px;
    height: 60px;

    background-repeat: no-repeat;
  }

  &--blur:before {
    background-image: url("/img/water-solid.svg");
  }

  &--fill:before {
    background-image: url("/img/icon-editor-fill.svg");
  }

  &--contrast:before {
    background-image: url("/img/icon-editor-contrast.svg");
  }
}

.effects__label:hover {
  opacity: 1;
}

.effects__label:active {
  opacity: 0.2;
}

.effects__preview {
  display: block;
}

.effects__preview--blur {
  filter: blur(1);
}

.effects__preview--fill {
  filter: saturate(100%);
}

.effects__preview--contrast {
  filter: brightness(100%);
}
