.filters {
  display: inline-flex;
  flex-wrap: wrap;
  padding: 20px 0;
}

.filters__item-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}

.filters__item {
  margin: 0;
  width: 80px;
}

.filters__scale-block {
  margin: 0 auto;
  padding: 15px 0;
  width: 100%;
}

.filters__scale-range {
  width: 100%;

  &:hover {
    border-color: rgba(40, 54, 69, 0.6);
  }
}

.filters__item-image {
  filter: brightness(0);
  opacity: 0.4;

  &:hover,
  &:focus {
    filter: none;
    opacity: 1;
  }

  &:active {
    opacity: 0.2;
  }
}
