.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px 20px;
  max-width: 1300px;
  margin: 0 auto;
}

.footer__logo-link:active {
  opacity: 0.5;
}

.footer__apps {
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 0;

  list-style-type: none;
}

.footer__apps-item {
  position: relative;
  padding: 10px;
  margin: 0 10px;
  width: 27px;
  height: 27px;

  border: 2px solid rgba(40, 54, 69, 0.3);
  border-radius: 50%;

  &:hover {
    border-color: rgba(40, 54, 69, 0.7);
  }

  &:active {
    opacity: 0.3;
  }
}

.footer__apps-image {
  position: absolute;
  width: 15px;
  height: 15px;
  top: 15px;
  left: 17px;
}

.footer__developer {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;

  text-decoration: none;
  color: #010101;
}

.footer__developer-text {
  align-self: center;

  font-size: 14px;
  line-height: 18px;
}

.footer__developer-logo {
  &:hover {
    filter: brightness(0);
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: 768px) {
  .footer {
    justify-content: space-between;
    align-items: center;
  }

  .footer__apps {
    width: auto;
    margin: 0;
  }

  .footer__developer {
    width: 120px;
    flex-grow: 0;

    font-size: 14px;
    line-height: 18px;
  }
}
