.main-line {
  display: flex;
  flex-wrap: nowrap;
  padding: 20px 15px 15px 15px;
}

.main-line__logo-link {
  width: 90%;
}

.main-line__logo-image {
  height: 20px;
  width: 60px;
  filter: invert(1) grayscale(100%) brightness(100);

  &:hover,
  &:focus {
    filter: none;
  }

  &:active {
    opacity: 0.5;
  }
}

.main-line__logo-image--tablet,
.main-line__logo-image--desktop {
  display: none;
}

.main-line__toggle {
  background-color: inherit;
  border: none;
}

.main-line__toggle-image {
  height: 25px;
  width: 25px;
  filter: invert(1) grayscale(100%) brightness(100);

  &:hover {
    filter: none;
  }
}

@media (min-width: 768px) and (max-width: 999px) {
  .main-line__logo-image {
    height: 39px;
    width: 150px;
  }

  .main-line__logo-image--mobile {
    display: none;
  }

  .main-line__logo-image--tablet {
    display: inline-block;
  }

  .main-line__logo-link {
    width: 93%;
    padding: 0 0 0 20px;
  }
}

@media (min-width: 1000px) {
  .main-line {
    width: 40%;
    padding: 0;
  }

  .main-line__toggle {
    display: none;
  }

  .main-line__logo-image {
    height: 64px;
    width: 152px;
    padding: 10px 20px 10px 20px;
  }

  .main-line__logo-image--tablet,
  .main-line__logo-image--mobile {
    display: none;
  }

  .main-line__logo-image--desktop {
    display: inline-block;
  }
}
