@import "../mixin";

.main__wrapper {
  @include mainHeadline;
  background-size: 100% 51%;

  &--index {
    padding: 300px 10px 30px 10px;
  }
}

@media (min-width: 507px) and (max-width: 767px) {
  .main__wrapper {

  }
}

@media (min-width: 768px) and (max-width: 999px) {
  .main__wrapper {
    background-size: 100%;

    &--index {
      padding: 40px 300px 40px 40px;
    }
  }
}

@media (max-width: 1000px) {
  .main__wrapper {
    background-size: 100%;

    &--index {
      padding: 40px 420px 40px 40px;
    }
  }
}
