.main__wrapper {
  max-width: 1300px;
  margin: 0 auto;

  background-color: #283745;
  background-image: url("/img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: 100% 320px;
  background-position: top;

  text-align: center;

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    .main__wrapper  {
      background-image: url("/img/bg-back-mobile@2x.jpg");
    }
  }
}

.main__wrapper--index {
  padding: 350px 10px 30px 10px;
}

.main__block {
  background-color: #2c3c4a;
}

@media (min-width: 768px) {
  .main__wrapper--index {
    position: relative;

    &:before {
      position: absolute;
      content: "";
      display: block;
      bottom: 0;
      right: 0;
      width: 500px;
      height: 500px;
      margin-top: 0;

      background-position: bottom;
      background-image: url(/img/iphone-hand-tablet@1x.png);
      background-repeat: no-repeat;
      background-size: contain;
    }
  }
}

@media (min-width: 768px) and (max-width: 999px) {
  .main__wrapper {
    background-size: cover;
    background-position: center;
    background-image: url("/img/bg-back-tablet@1x.jpg");

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      .main__wrapper  {
        background-image: url("/img/bg-back-tablet@2x.jpg");
      }
    }
  }

  .main__wrapper--index {
    padding: 40px 300px 40px 40px;
  }
}

@media (min-width: 1000px) {
  .main__wrapper {
    background-size: cover;
    background-position: center;
    background-image: url("/img/bg-back-desktop@1x.jpg");

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      .main__wrapper  {
        background-image: url("/img/bg-back-desktop@2x.jpg");
      }
    }
  }

  @media (min-width: 1000px) {
    .main__wrapper--index {
      padding: 100px 536px 79px 40px;

      &:before {
        width: 800px;
        height: 650px;

        background-image: url(/img/iphone-hand-desktop@1x.png);
      }
    }
  }
}
