.main-line {
  display: flex;
  flex-wrap: nowrap;
  padding: 20px 15px 15px 15px;
}

.main-line__logo-link {
  width: 85%;
}

.main-line__logo-image {
  height: 20px;
  width: 60px;

  &:hover path {
    fill: #d22856;
  }
}

.main-line__logo-image--tablet,
.main-line__logo-image--desktop {
  display: none;
}

.main-line__toggle {
  background-color: inherit;
  border: none;
}

.main-line__toggle-image {
  height: 25px;
  width: 25px;

  &:hover path {
    fill: #d22856;
  }

  &--burger {

  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .main-line__logo-image {
    height: 39px;
    width: 150px;
  }

  .main-line__logo-image--mobile {
    display: none;
  }

  .main-line__logo-image--tablet {
    display: inline-block;
  }

  .main-line__logo-link {
    width: 93%;
  }
}

@media (min-width: 1200px) {
  .main-line__logo-image {
    height: 64px;
    width: 200px;
  }

  .main-line__logo-image--tablet,
  .main-line__logo-image--mobile {
    display: none;
  }

  .main-line__logo-image--desktop {
    display: inline-block;
  }
}
