@import "../mixin";

.opinions__list {
  padding: 0 20px;

  list-style-type: none;
}

.opinions__toggle {
  text-align: center;
}

.opinions__toggle-radio {
  @include toggleStyle;
}

@media (min-width: 768px) and (max-width: 1199px) {
  .opinions {
    padding: 30px 20px;

    background-color: #ffffff;
  }
}
