@import "../mixin";

.opinions {
  padding-bottom: 20px;
  max-width: 1300px;
  margin: 0 auto;
}

.opinions__list {
  padding: 0 20px;

  list-style-type: none;
}

.opinions__toggle {
  text-align: center;
}

.opinions__toggle-radio {
  @include toggleStyle;
}

@media (min-width: 768px) {
  .opinions {
    padding: 30px 20px;

    background-color: #ffffff;
  }
}

@media (min-width: 900px) {
  .opinions__list {

    padding: 0 50px;
  }
}
