.opinion {
  display: flex;
  flex-direction: column;

  text-align: center;
  opacity: 1;
  visibility: visible;
  transition: opacity 1s, visibility 1s;
}

.opinion__more-button {
  display: inline-flex;
  border: none;
  width: fit-content;

  font-size: 18px;
  line-height: 30px;
  color: #150FF7;
}

.opinion.visually-hidden {
   opacity: 0;
   visibility: hidden;
 }

.opinion__name {
  order: 1;

  font-weight: bold;
}

.opinion__person {
  display: none;
}

.opinion__text {
  order: 3;

  max-height: 30px;
  overflow: hidden;

  font-size: 14px;
  line-height: 30px;
}

.opinion--two,
.opinion--three {
  display: none;
}

@media (min-width: 768px) {
  .opinion__text {
    order: 0;

    font-size: 18px;
    line-height: 30px;
  }

  .opinion__person {
    display: inline-block;
    order: 2;

    font-size: 14px;
    line-height: 30px;
  }
}




