@import "../mixin";

.photos-block {
  padding: 0;
}

.photos-block__headline {
  margin: 0;
  padding: 70px 20px 85px 20px;

  @include mainHeadline;
  background-size: 100%;

  font-weight: lighter;
  font-size: 24px;
  line-height: 29px;
  color: white;
}

.photos-block__text {
  font-size: 14px;
  line-height: 30px;
  text-align: center;
}
