.photo {
  margin: 20px auto;
  max-width: 300px;
  width: 100%;
  min-height: max-content;
  overflow: hidden;
}

.photo__image {
  background-size: contain;
}

.photo__delete-button {
  display: none;
}

.photo--panorama {
  position: relative;
  width: 100%;

  &::after {
    content: "Панорама дня";
    position: absolute;
    width: 150px;
    padding: 6px 0;
    top: 0;
    right: 0;

    background-color: #d22856;

    font-size: 12px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
  }
}

@media (min-width: 768px) {
  .photo {
    position: relative;
    margin: 10px;
    width: 45%;
  }

  .photo:hover {
    box-shadow: 0 0 10px rgba(0,0,0,0.5);

    .photo__delete-button {
      content: "";

      position: absolute;
      top: 0;
      right: 0;
      background-color: #dedede;
      border-radius: 0 0 0 2px;
      padding: 10px;
      cursor: pointer;
      outline: none;
      display: block;
      width: 30px;
      height: 30px;

      background-image: url("https://img.icons8.com/plasticine/100/000000/delete.png");
      background-size: contain;
      border: none;
    }
  }

  .photo--panorama {
    width: 100%;
    margin: 0;
  }
}

@media (min-width: 1080px) {
  .photo {
    max-width: 300px;
  }
}
