@import "../mixin";

.photos-block {
  padding: 0;
}

.photos-block__headline {
  margin: 0;
  padding: 70px 20px 85px 20px;

  font-weight: lighter;
  font-size: 24px;
  line-height: 29px;
  color: white;
}

.photos-block__text {
  font-size: 14px;
  line-height: 30px;
  text-align: center;
}

@media (min-width: 768px) and (max-width: 1199px) {
  .photos-block {
    padding: 20px 60px;
  }

  .photos-block__headline {
    padding: 134px 80px 118px 80px;

    font-size: 50px;
    line-height: 60px;
  }

  .photos-block__text {
    margin: 0;

    color: #283645;
    font-size: 18px;
    line-height: 30px;

    &:first-of-type {
      padding-top: 40px;
    }

    &:last-of-type {
      padding-bottom: 40px;
    }
  }
}
