.research {
  display: none;
}

@media (min-width: 768px) {
  .research {
    padding-top: 30px;
  }

  .research__wrapper {
    position: relative;
    max-width: 1300px;
    margin: 0 auto;
    padding: 60px 30px 70px 350px;

    &:before {
      content: "";
      display: block;
      position: absolute;
      height: 350px;
      width: 350px;
      top: -35px;
      left: 50px;
      background-image: url(/img/icon-editor-diagram-fill.svg), url(/img/icon-timer.svg);
      background-repeat: no-repeat;
      background-position: 23px 115px,5px 59px;
      background-size: 204px 204px,241px 278px;
    }

    &:after {
      content: "24";
      display: block;
      position: absolute;
      left: 107px;
      top: 160px;

      font-size: 120px;
      font-weight: 600;
      color: #d22856;
    }
  }

  .research {
    position: relative;
    display: block;
  }

  .research__text {
    margin-bottom: 40px;

    font-size: 30px;
    line-height: 36px;
  }

  .research__description {
    margin-bottom: 10px;

    font-size: 14px;
    line-height: 24px;
  }

  .research__link {
    display: block;
    padding-top: 30px;

    font-size: 14px;
    line-height: 24px;
    color: #d22856;
  }
}

@media (min-width: 1200px) {
  .research {
    background-color: #f2f2f2;
  }

  .research__wrapper {
    padding-bottom: 80px;
    max-width: 600px;
  }
}
