.table {
  background-color: #ffffff;
}

.table__cell {
  padding: 5px 10px;
  width: 30px;
  height: 30px;

  border: 1px solid black;
  background-repeat: no-repeat;

  text-align: center;
}

.table__cell--yes {
  background-image: url("/img/icon-check.svg");
}

.table__cell--no {
  background-image: url("/img/icon-no.svg");
}

.table__cell--hit {
  background-image: url("/img/bg-hit.svg");
}

.table__header .table__cell {
  background-color: #283745;

  color: #ffffff;
  text-transform: uppercase;
}

.table__cell--empty {
  background-color: red;
  border: 1px solid transparent;
}

.table__cell--headline {
  font-weight: bold;
}
