@import "../mixin";

.table {
  background-color: inherit;
}

.table__content {
  white-space: nowrap;
}

.table__cell {
  padding: 5px 10px;

  background-color: white;

  text-align: center;
  color: #444444;
  font-size: 14px;
  text-transform: uppercase;
}

.table__cell--pink:before {
  content: "Розовый фильтр";

  font-weight: lighter;
}

.table__cell--smiles:before {
  content: "Смайлики";

  font-weight: lighter;
}

.table__cell--comments:before {
  content: "Комментарии";

  font-weight: lighter;
}

.table__cell--empty,
.table__cell--row-name {
  display: none;
}

.table__cell--hit {
  position: relative;

  background-image: url("/img/bg-hit.svg");
  background-repeat: no-repeat;

  &:after {
    content: "Хит";
    position: absolute;
    top: 0;
    left: 16px;
    transform: rotate(-45deg);

    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
  }
}

.table__header .table__cell {
  background-color: #283745;

  color: #ffffff;
  text-transform: uppercase;
}

.table__cell--headline {
  padding: 10px;
  font-weight: bold;
  word-wrap: normal;

  .table__cell {
    display: block;
    padding: 0;
    margin: 0;
  }
}

@media (min-width: 768px) {
  .table {
    border-top: none;
    border-left: none;
    border-bottom: 1px solid;
    border-right: 1px solid;
  }

  .table__cell--empty {
    display: block;
    border: none;
  }

  .table__cell--headline {
    border-bottom: none;
  }

  .table__cell--row-name {
    display: block;
  }

  .table__cell--pink,
  .table__cell--smiles,
  .table__cell--comments {
    position: relative;

    &:before {
      @include tableCellState;
      background-image: url("/img/icon-yes.svg");
    }
  }

  .table__cell--no {
    position: relative;

    &:before {
      @include tableCellState;
      background-image: url("/img/icon-no.svg");
    }
  }
}
